# Assignment 1

Matrikelnr.: 2089929

## Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

## Ãœberblick und Data Cleaning

In [3]:
df_stroke_data = pd.read_csv('01_Classification_stroke_data.csv')

In [4]:
df_stroke_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

Wir sehen, dass es sich scheinbar um Patientendaten handelt. Die Felder bestehen aus verschiedenen Datentypen, u.a. Zahlenwerte (sowohl ganz als auch rational), Zeichenketten.  Die Felder `hypertension`, `heart_disease`, `ever_married` und `stroke` scheinen nur aus booleschen Werten zu bestehen (1 und 0 bzw. yes und no).

In [ ]:
df_stroke_data.describe()